$orangeKraftwerk: #eb690a;
$orangeGradientBegin: #ae3700;
$orangeGradientEnd: #eb690a;
$backgroundCard: #ecf1f5;
$desktopHeading: 50px;
$largeHeading: 25px;
$middleHeading: 20px;
$mobileHeading: 14px;
